<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.babajisoft.sanketc">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PersonInfoDTOS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name="com.babajisoft.sanketc.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.babajisoft.sanketc.MainSplashScreen"
            android:label="@string/title_activity_main2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.babajisoft.sanketc.helper.SmsSentReceiver"></receiver>
        <receiver android:name="com.babajisoft.sanketc.helper.SmsDeliveredReceiver"></receiver>

        <activity
            android:name="com.babajisoft.sanketc.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
<!--        <activity
            android:name=".PrintImage"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />-->
        <activity
            android:name="com.babajisoft.sanketc.SearchActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.babajisoft.sanketc.MessageActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.babajisoft.sanketc.AboutUsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.babajisoft.sanketc.LoginActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.babajisoft.sanketc.BirthdayActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.babajisoft.sanketc.BTDeviceList"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.babajisoft.sanketc.VotingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.babajisoft.sanketc.DeviceListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="com.babajisoft.sanketc.EditDetailsActivity"
            android:label="Edit Details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.babajisoft.sanketc.ImportActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.babajisoft.sanketc.ExportActivity" />
        <activity
            android:name="com.babajisoft.sanketc.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.babajisoft.sanketc.Main_Activity"
            android:theme="@style/AppTheme.NoTitle"></activity>
    </application>

</manifest>