<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.babajisoft.sample">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PersonInfoDTOS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".AppController"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainSplashScreen"
            android:label="@string/title_activity_main2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".helper.SmsSentReceiver" >
        </receiver>
        <receiver android:name=".helper.SmsDeliveredReceiver" >
        </receiver>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".SearchActivity"
            android:theme="@style/AppTheme" />

        <activity android:name=".MessageActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".AboutUsActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".LoginActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".BirthdayActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".VotingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"></activity>
        <activity
            android:name=".EditDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:label="Edit Details" />
        <activity android:name=".ImportActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ExportActivity" />
        <activity android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>